@import "./src/input.css";

html,
body {
  margin: 0;
}

.image-wrapper {
  background-color: black;
}

.banner-text {
  color: white;
}

.banner-text {
  transition: opacity 0.5s ease;
}

.banner-text div {
  transform: translate(-50%, -50%);
}

.banner-text:hover {
  opacity: 80%;
}
